.preview-image {
  position: relative;
  max-width: 90%;
  max-height: 60vh;
  /* transition: opacity 2s ease-out; */
  object-fit: scale-down;
  margin: 40px;

  box-shadow: 2px 4px 3px rgba(0,0,0,0.15);
}

.preview-image-placeholder {
  width:auto;
  max-height: 400px;
}


#preview-header {
  z-index: 99;
  font-size: 30px;
  margin-right: 20px
  /* max-width: 400px; */
}
