#project-main-body {
    align-content: center;
    text-align: center;
    max-width: 1280px;
    min-width: 640;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* border: dashed black 1px; */
}

#hero_img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.p {
    font-family: 'IBM Plex Sans', sans-serif; font-weight: 400;
    font-size: 12pt;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: dashed black 1 px;
}

iframe {
    padding: 5px;
}