div.separator {
    padding-top: 50px;
    /* border-top: 50px; */
}

div.gallery-div {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    overflow: auto;
    animation: fadeIn 3.0s ease;
    align-content: center;
    background: rgba(255, 255, 250, 0.);
    z-index: 99;
    -webkit-animation: fadeIn 3.0s ease;
    -moz-animation: fadeIn 3.0s ease;
    -o-animation: fadeIn 3.0s ease;
    -ms-animation: fadeIn 3.0s ease;
    /* border: dashed 2px blue; */
}

div.image-div {
    z-index: 99;
    animation: fadeIn 1.0s ease;
    -webkit-animation: fadeIn 1.0s ease;
    -moz-animation: fadeIn 1.0s ease;
    -o-animation: fadeIn 1.0s ease;
    -ms-animation: fadeIn 1.0s ease;
}

br {
    padding-top: 5px;
}

#project-main-body {
    text-align: center;
    max-width: 1280px;
    min-width: 640;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border-left: 20%;
    border-right: 20%;
    /* border: dashed black 1px; */
    color: black;
    background: linear-gradient(90deg, rgba(255,255,255,0.7) 0%, rgba(255, 255, 255, 1) 50%, rgba(255,255,255,0.7) 100%);
    /* filter: drop-shadow(10px 10px 4px black); */
}

#project-content {
    align-content: left;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    /* border-right: solid gray 1px; */
    /* border-left: solid gray 1px; */
    /* border: dashed red 1px; */
}

#hero_img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.project-img {
    max-width: 100%;
}

.p {
    max-width: 600px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    line-height: 1.5;
    border: dashed black 1 px;
    animation: fadeIn 1.0s ease;
    -webkit-animation: fadeIn 1.0s ease;
    -moz-animation: fadeIn 1.0s ease;
    -o-animation: fadeIn 1.0s ease;
    -ms-animation: fadeIn 1.0s ease;
}

.iframe-container-4x3 {
    padding-top: 75%;
}

/* ANIMATIONS */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}