#PageHome {
    /* align-self: center; */
    min-height: 100%;
    /* max-width: 300px; */
    align-content: center;
    margin-left: 3%;
    margin-right: 5%;
    color: black;
}

#canvas {
    position: fixed;
    z-index: -99 !important;
}

.tileGrid {
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: repeat(auto-fit, 200px);
    align-content: left;
    padding-top: 40px;
    padding-bottom: 100px;
    width: 40%;
    float: left;
    /* border: red dashed 2px; */
}

.tileGridElement {
    align-content: left;
    /* border: blue dashed 2px; */
}

#preview-container {
    position: fixed;
    top: 10;
    right: 3%;
    overflow: hidden;
    float: right;
    height: 100%;
    max-width: 50%;
    width:100%;
    /* z-index: 99; */
    align-content: right;
    padding-top: 55px;

    /* background: rgba(255, 255, 255, 0.8); */
    /* box-shadow: 2px 4px 3px rgba(0,0,0,0.15); */

    animation: fadeIn 1.0s ease;
    -webkit-animation: fadeIn 1.0s ease-in-out;
    -moz-animation: fadeIn 1.0s ease-in-out;
    -o-animation: fadeIn 1.0s ease-in-out;
    -ms-animation: fadeIn 1.0s ease-in-out;
    /* border: blue dashed 2px; */
}

#mobile-image-background {
    width:100%;
    height:100%;
    z-index:-3;
    position:fixed;
    background-repeat: repeat; 
    
    
    -webkit-filter: grayscale(50%) blur(5px); 
    -moz-filter: grayscale(50%) blur(5px); 
    -o-filter: grayscale(50%) blur(5px); 
    -ms-filter: grayscale(50%) blur(5px); 
    filter: grayscale(50%) blur(5px); 
}


