#PageHome {
    align-self: center;
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
    margin-left: 2%;
    color: black;
}

#main-body {
    /* display: inline-block; */
    float:left;
    position:relative;
    padding-bottom: 60px;
    vertical-align: top;
}

#canvas {
    position: fixed;
    z-index: -99 !important;
}

.tileGrid {
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: repeat(auto-fit, 200px);
    align-content: left;
    width: 40%;
    float: left;
}

.tileGridElement {
    align-content: left;
    width: 100%;
}

#preview-container {
    overflow: hidden;
    float: right;
    width: 59%;
    margin-right: 2%;
    border: dashed blue 2px;
}
