#PageHome {
    align-self: center;
    position: relative;
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
}

#main-body {
    /* display: inline-block; */
    padding-bottom: 60px;
    vertical-align: top; 
    background-color: yellowgreen;
}

.tileGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: left;
    width: 29%;
    float: left;
    /* border: dashed red 2px; */
}

.tileGridElement {
    align-content: left;
    width: 100%;
    max-width: 200px;
}

#preview-container {
    overflow: hidden;
    float:right;
    width: 69%;
    height: 800px;
    /* max-width: 90%; */
    /* border: dashed blue 2px; */
}