#headbar-container {
    /* border: 2px blue dashed; */
    margin: 10px;
    /* background: rgba(240,240,240,0.5); */
}

.titleText {
    /* font-family: 'IBM Plex Mono', monospace; */
    font-weight: 600;
    text-align: center;
    /* letter-spacing: 15px; */
    color: gray;
    font-size: 18px;
}

.titleText:hover span {display: none;}

.titleText:hover:before{content: "alexgourlay.com"}
