#container {
    height:60px;
    margin: 0 auto;
    border: dashed blue 2px;
}

#container div {
    justify-content: center;
    display: inline-table;
    /* padding: 20px; */
    margin: 20px;
}

p {
    font-size: 10px;
}

.icon {
    margin: 5px;
    color: grey;
}

.icon:hover {
    color: black;
}
